<%- include('../partials/head') %>
<link rel="stylesheet" href="/general.css">
<link rel="stylesheet" href="/add-Home.css">
  <body>
    <%- include('../partials/header') %>

    <div class="container">
      <h1>Login with your info</h1>

      <form action="/login" method="POST" class="home-form">
        <input type="text" name="username" placeholder="Enter your email" required>

        <input type="password" name="password" placeholder="Enter your password:" required>

        <input type="submit" value="Sign in">
      </form>
    </div>
  </body>
</html>
