<div>
    <form action="/store/favourite-list" method="POST">
        <button type="submit" class="favourite-button">Add to Favourite</button>
        <input type="hidden" name="id" value="<%= home._id %>">
    </form>
</div>