<header>
    <a href="/" class="links">Airbnb</a>
    <a href="/store/home-list" class="links">Home-list</a>
    
    <a href="/store/bookings" class="links">Bookings</a>
    <a href="/store/favourite-list" class="links">Favourite List</a>

    <a href="/host/add-home" class="links">Add Home</a>
    <!-- <a href="/host/edit-home" class="links">Edit Home</a> -->
    <a href="/host/host-home-list" class="links">Host Homes</a>
    <!-- <a href="/store/reserve" class="links">Reserve</a> -->
</header>