<%- include('../partials/head') %>
  <link rel="stylesheet" href="/home-list.css">
  <link rel="stylesheet" href="/general.css">
  <%- include('../partials/header') %>
  <body>
    <!-- <%= pageTitle %> -->
    <div>
        <h1 style="text-align:center;font-family:Arial, Helvetica, sans-serif"> 
            Here are your bookings. 
        </h1>
    </div>
  </body>
</html>